* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.emoji-packet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10%;
}

.emoji1 {
    margin: 10%;
    height: 300px;
    width: 300px;
    background-color: #f7c64b;
    border-radius: 50%;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.eyes-column {
    position: absolute;
    top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.eye1 {
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #222;
    left: 25%;
}

.eye2 {
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #222;
    left: 60%;
}

.smile {
    position: absolute;
    width: 200px;
    height: 100px;
    background-color: #222;
    top: 56%;
    left: 15%;
    /* clip-path: circle(50% at 49% 100%); */
    transform: rotate(180deg);
    border-radius: 150px 150px 0 0;
}


/* emoji 2 */

.emoji2 {
    margin: 10%;
    height: 300px;
    width: 300px;
    background-color: #f7c64b;
    border-radius: 50%;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.eyes-column-2 {
    position: absolute;
    top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.eye3 {
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #222;
    left: 25%;
}

.eye4 {
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #222;
    left: 60%;
}

.smile-2 {
    position: absolute;
    width: 200px;
    height: 100px;
    background-color: #222;
    top: 50%;
    left: 15%;
    clip-path: circle(50% at 49% 100%);
    /* transform: rotate(180deg); */
    border-radius: 150px 150px 0 0;
}


/* emoji3 */

.emoji3 {
    margin: 10%;
    height: 300px;
    width: 300px;
    background-color: #f7c64b;
    border-radius: 50%;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.eyes-column-3 {
    position: absolute;
    top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.eye5 {
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #222;
    left: 25%;
}

.eye6 {
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #222;
    left: 60%;
}

.smile-3 {
    position: absolute;
    width: 250px;
    height: 20px;
    background-color: #222;
    top: 70%;
    left: 8%;
    clip-path: circle(50% at 49% 100%);
    /* transform: rotate(180deg); */
    border-radius: 150px 150px 0 0;
}


/* emoji4 */

.eye7 {
    position: absolute;
    left: 25%;
    width: 30px;
    height: 10px;
    background-color: #222;
}

.eye8 {
    position: absolute;
    left: 65%;
    width: 30px;
    height: 10px;
    background-color: #222;
}

.smile-4 {
    position: absolute;
    width: 200px;
    height: 20px;
    background-color: #222;
    top: 70%;
    left: 16%;
}

.smile-5 {
    position: absolute;
    width: 200px;
    height: 100px;
    background-color: #fff;
    top: 56%;
    left: 15%;
    border: 15px solid #222;
    /* clip-path: circle(50% at 49% 100%); */
    transform: rotate(180deg);
    border-radius: 150px 150px 0 0;
}

.smile-5-1 {
    height: 15px;
    width: 164px;
    background: #222;
    margin-top: 20%;
    border-radius: 10px 10px 0px 0px;
}